<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ensure.That" version="0.7.0" />
  <package id="NCore" version="0.28.0" />
  <package id="PineCone" version="2.0.0" />
  <package id="ServiceStack.Text" version="2.26" />
  <package id="SisoDb" version="12.0.0" />
  <package id="SisoDb.SQL2008" version="3.1" />
  <package id="SisoDb.Sql2012" version="12.0.0" />
</packages>